@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$darkBlue: #1f2937;
$black: #1f2937;
$white: #f9faf8;
$grey: #e5e7eb;
$lightBlue: #3882f6;

.intro {
	background-color: $darkBlue;
	color: #1f2937;
}
